@import url("fontcssyoutube.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body
{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}
/*****************************NAV BAR CSS****************/
.nav
{
    background-color:rgb(242 242 242);
    /* Specifying 10vh is equivalent to
    occupying 10% of entire visible screen height. */
    min-height: 40vh;
    height: 0rem;
    overflow: hidden;
}

/* .nav-menu is selected */
.nav .nav-menu{
  display: flex;
    /*property defines how the browser
     distributes space between and around content
      items along the main-axis of a flex container, 
      and the inline axis of a grid container.*/
    justify-content: space-between;
    flex-wrap: nowrap;
}
.nav .nav-brand a{
    display: block;
    font-size: 1.6rem;
    padding: 1rem 0;
}
.nav .nav-items
{

/* Dotted type of list is removed of li of ul */
    list-style-type: none;
    /* moving the li of ul in same line */
    display: flex;
    /*   */
    margin: 0;
}
.nav .nav-items .nav-links
{
    padding: 1.6rem 1rem;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    position: relative;

}

.nav .nav-items .nav-links a
{
    text-decoration: none;
}
.flex-row
{
    display: flex;
    /* flex items are displayed in a row
    direction text is laid out in a line */
    /* All the items in a div of class flex and flex-direction
    are displayed in same line  */
    flex-direction: row;
}
.social a
{
    text-decoration: none;
}
.nav .social
{
    padding: 1.4rem;
}



@media screen and (max-width:767px) {
  
}
/*********************************************************/
.pagewidth
{
    max-width: 1300px;
    margin: auto;
}
.headingcontainer
{ width: 100%;
  /* margin: auto; */
  display: flex;
  justify-content: center;

}
.heading {
  text-transform: uppercase;
  font-size: 25px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: Poppins-SemiBold;
  color: black;
}
/**********************************AFTER NAVIGATION******************/
.rowtopsection {
  display: flex;
flex-direction: row;
width: 100%;
justify-content: space-between;
flex-wrap: wrap;
}

.column1  {
  font-family: Poppins-Light;
  width:50%;
  padding-block: 6rem;


}

.shopoutlets {
  font-size: 15px;
  /* mag */
  font-family: Poppins-Light;

}

.quality {
  font-size: 30px;
}



.cheapproducts {
  font-size: 60px ;
  font-family: Poppins-ExtraBold;
  line-height: 0.98;
}

.cheapandeasy {
  font-size: 15px;;

}

/* .textspacing {
  margin-block: 1rem;

} */

.collection {
  font-size: 15px;
  font-family: "Poppins-Light";
  padding: 2% 5%;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);


  border: 1px solid rgb(255, 0, 0);

}


/********************************************************/

/**********************Image Stacking*******************/
.column2 {
  margin: auto;
  width: 50%;
}

.child {
width: 100%;
  max-width:100%;
  height:auto;
}
@media only screen and  (max-width: 767px) {
  .column1{
   
    width: 100%;
text-align: center;

  }
  .column2{

    width: 100%;


  }
  .child
  {
    scale: 50% 50%;
  }

}


/*******************END OF IMAGE STACKING*****************/

/*************** RESPONSIVE FEATURE PRODUCT******************/
.bestsellerrow {
    display: flex;
    height: auto;

    flex-direction: row;
    border: 1px solid black;
    /* justify-content: space-between; */
    width: 100%;
    flex-wrap: wrap;

    gap:2.4%;
    
  }
  
  .col-3 {

    width: 22.5%;
    border: 1px solid black;
    margin-block-end: 2%;

    

  }
  
  .imagesbestseller {
    width: 100%;
  }
  
  .seller-text {
  
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  
  .sales {
    font-size: 13px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .price {
    font-size: 17px;
    font-family: Poppins-SemiBold;
  
  }
  
  /* 
  Smallest modile Device consider be 200px
  Largest mobile device consider be 767px */
  /* 600-800px Tablet */
  @media only screen and (min-width:600px) and (max-width:800px) {
    .col-3 {
  
      width: 48.5%;
      border: 1px solid black;
      

    }

    .details {
      width: auto;
    }
  
    .seller-text {
      white-space: wrap;
  
      font-size: 4vh;
      font-family: Poppins, sans-serif;
  
    }
  
    .sales {
      font-size: 4vh;
      display: inline-block;
      font-family: Poppins, sans-serif;
    }
  
  
    .price {
      font-size: 4vh;
      font-family: Poppins-SemiBold;
  
    }
  }


  
  @media only screen and (min-width:320px) and (max-width:599px) {
    .col-3 {
  
      width:100%;
      border: 1px solid black;
      /* height: 275px; */
    }
  
    .details {
      width: auto;

    }
  
    .seller-text {
      white-space: wrap;
  
      font-size: 2vh;
      font-family: 'Poppins', sans-serif;
  
    }
  
    .sales {
      font-size: 2vh;
      display: inline-block;
      font-family: 'Poppins', sans-serif;
    }
  }
  /******************************************************/
  
.rowfeature {
  display: flex;
  flex-direction: row;
  /* width of whole row is 1300px */
  max-width: 1300px;
  width: 100%;
  margin: auto;
  border: 1px solid black;

flex-wrap: wrap;  
gap: 3%;
}

.col-4 {
  width: 30.33%;
  border: 1px solid black;

  position: relative;

}

.text-button {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 10px;
  /* left: 83.4765;
  right: 83.4765px; */
}
.featureimage {
  width: 100%;
}
.card-text {
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: Poppins-SemiBold;
  font-size: 20px;
}


.buynow {
  font-size: 15px;
  color: white;
  font-family:Poppins-SemiBold;
  background-color: black;
  padding: 3% 7%;
  margin-block-start: 2%;

}

@media only screen and (min-width:600px) and (max-width:800px) {
  .rowfeature{
    justify-content: center;
    display: flex;
  }

  .col-4 {
    width: 48%;
    border: 1px solid black;
    margin-block: 20px;

  }
  .card-text {
      text-align: center;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      font-family: Poppins-SemiBold;
      font-size: 2vh;
  }
  .buynow {
      font-size: 2vh;
      color: white;
      font-family:Poppins-SemiBold;
      background-color: black;
      padding: 3% 7%;
      margin-block-start: 2%;
  
  }
  .text-button {
      width: 100%;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      bottom: 3px;
      /* left: 83.4765;
      right: 83.4765px; */
  }

}
@media only screen and (min-width:320px) and (max-width:599px) {

  .col-4 {
    width: 100%;
    border: 1px solid black;
    margin-block: 20px;
  }
  .card-text {
      text-align: center;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      font-family: Poppins-SemiBold;
      font-size: 2vh;
  }
  .buynow {
      font-size: 2vh;
      color: white;
      font-family:Poppins-SemiBold;
      background-color: black;
      padding: 3% 7%;
      margin-block-start: 2%;
  
  }
  .text-button {
      width: 100%;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      bottom: 3px;
      /* left: 83.4765;
      right: 83.4765px; */
  }



}
/******************************************************/
.aboutoutletsrow
{
  display: flex;
  flex-direction: row;
  /* width of whole row is 1300px */
  max-width: 1300px;
  width: 100%;
  margin: auto;
  border: 1px solid black;
flex-wrap: wrap;  

}
.col-6
{
  height: 40%;
/* flex-basis: 50%; */
width: 50%;
flex: 1;
}
.outletsimage
{
  width: 100%;
  height: auto;
  max-width: 100%;
}

.aboutoutletswelcome {
font-size: 18px;
font-family: Poppins-SemiBold;
}
.outletstext
{
  font-size: 15px;
  font-family: Poppins-Light;
}
.aboutoutletstext {
  word-spacing: 10px;
  /* line-height: 25px; */
}


.VIEWMORE
{
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family:Poppins-SemiBold;
  background-color: rgb(255, 255, 255);
  padding: 3% 7%;
}

@media only screen and (min-width:600px) and (max-width:800px) 
{
  .col-6
{
  height: 40%;
  width: 50%;
}
.outletsimage
{
  width: 100%;
  height: 375px;
}
}
